.center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* Wyśrodkowanie całego kontenera logowania */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  padding: 20px;

  background: rgba(201, 197, 197, 0.8); /* biała, 80% przezroczystości */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
}


/* Pola tekstowe */
.login-box input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;

  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}


/* Przycisk */
.login-box button {
  width: 95%;
  margin-top: 15px;
  padding: 12px;

  background-color: #007bff;
  stroke-width:2%;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;

  transition: 0.2s;
}

.login-box button:hover {
  background-color: #005fcc;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  background: rgba(0, 0, 0, 0.4);
  padding: 12px 25px;
  border-radius: 10px;

  display: flex;
  gap: 20px;

  backdrop-filter: blur(4px);
}

.footer a {
  color: white;
  text-decoration: none;
  font-family: monospace;
}

.footer a:hover {
  text-decoration: underline;
}

.img {
  size: 0cap;
}